// Pull in normalize css
@import '../node_modules/normalize.css/normalize.css';

body {
  font-family: sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}
main {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
header {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 400px;
  transform: translate(-50%, -50%);
}
button {
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow:  0 1px 2px rgba(255, 255, 255, 0.4);
}
/* Modal Window */

.modal-start {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.modal-end {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}
.player-selection {
  position: relative;
  display: inline-block;
  font-size: 150px;
  cursor: pointer;
}
.player-selection:hover {
  transform: scale(1.1);
}

/* Link Syling */

*:focus {
  outline: none;
  outline: 0;
}
a:link, a:visited {
  border: none;
  text-decoration: underline;
  font-style: normal;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Tic-Tac-Toe Board */

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
  width: 300px;
  height: 300px;
  font-size: 70px;
  line-height: 70px;
}
td {
  width: 90px;
  height: 90px;
  text-align: center;
  cursor: pointer;
}
table td {
  border: 5px solid rgb(123, 123, 123);
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}

/* Animations */

.drop {
  animation-name: drop;
  animation-duration: 0.08s;
}
@keyframes drop {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(1);
  }
}

.win-pulse{
  animation-name: winpulse;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 6
}
@keyframes winpulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
